<p>
    <strong>Nome:</strong>
    <%= @usuario.nome %>
</p>
<p>
    <strong>nUsp:</strong>
    <%= @usuario.nusp %>
</p>
<p>
    <strong>Senha:</strong>
    <%= @usuario.senha %>
</p>
<p>
    <strong>Número de telefone</strong>
    <%= @usuario.numero %>
</p>