// Place all the styles related to the anuncios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.show_image_holder{
    width: 200px;
    height: 200px;
}

.show_imagem_anuncio {
    width: 100%; 
    height: auto;
}

.index_imagem_anuncio {
    width: 150px;
    height: 100px;
}