body{margin: 0;}
@font-face {
  font-family: "Roboto Regular";
  src: url(/assets/Roboto-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Roboto Bold";
  src: url(/assets/Roboto-Bold.ttf) format("truetype");
}
.navbar-list{
    background-color: #0199b9;
    list-style-type: none;
    margin: 0;
    top: 0;
    width: 100%;
    padding: 0;
    overflow: hidden;
}
ul.navbar-list li{
    float: right;
    
}
.navbar-list-link{
    display: block;
    color: white !important;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Roboto Regular" !important;
    transition: background 0.25s;
  }
  
#navbar_title{
  float: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-family: "Roboto Bold" !important;
  font-size: large;
}
.navbar-list-link:hover {
    background-color: #007086 !important
}