<p>
  <strong>Item:</strong>
  <%= @anuncio.item %>
</p>
 
<p>
  <strong>Descrição:</strong>
  <%= @anuncio.descrição %>
</p>

<p>
  <strong>Horário:</strong>
  <%= @anuncio.horário %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @anuncio.tags %>
</p>